.custom-blue {
    background-color: #74cec76e; /* Une couleur entre bleu ciel et bleu turquoise */
    color: rgb(8, 8, 8); /* Couleur du texte, vous pouvez ajuster selon vos préférences */
  }
  .custom-table .custom-cell {
    background-color: #dcf5f3e5; /* Couleur des cellules du tableau */
    color: rgb(8, 8, 8); /* Couleur du texte dans les cellules du tableau */
  }
  .white-background {
    background-color: #fff; /* blanc */
}

