<app-sidebar></app-sidebar>
<br><br><br> <br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div> <!-- Colonne vide à gauche -->
    <div class="col-md-8">
      <div class="card custom-blue">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <span class="font-weight-bold" style="font-size: 1.5rem; color: rgb(8, 8, 8);">Class List</span>
          </div>
          <div class="ml-auto">
            <a routerLink="/addClass"><i class="bi bi-patch-plus-fill text-black" style="font-size: 40px;"></i></a>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover text-center custom-table">
            <thead>
              <tr>
                <th scope="col" class="custom-cell">Capacity</th>
                <th scope="col" class="custom-cell">Level</th>
                <th scope="col" class="custom-cell">Progress</th>
                <th scope="col" class="custom-cell">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let class of classes">
                <td class="custom-cell">{{ class.capacity }}</td>
                <td class="custom-cell">{{ class.level }}</td>
                <td class="custom-cell">{{ class.progress }}</td>
                <td class="custom-cell">
                  <a routerLink="/updateClass/{{ class.idClass }}"><i class="bi bi-pencil-square text-success" style="font-size: 15px; margin-left: 15px;"></i></a>
                  <a (click)="deleteClass(class.idClass)"><i class="bi bi-trash text-danger" style="font-size: 15px; margin-left: 15px;"></i></a>
                  <a routerLink="/class-details/{{ class.idClass }}"><i class="bi bi-chat-left-text" style="font-size: 15px; margin-left: 15px;"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>